@import "tailwindcss";
@import "tw-animate-css";

@layer utilities {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0) inset !important;
    -webkit-text-fill-color: rgb(255, 255, 255) !important;
    transition: background-color 5000s ease-in-out 0s !important;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

* {
  outline: none;
  font-family: Arimo;
}

::selection {
  background-color: #ec4899; /* цвет фона выделения */
  color: white; /* цвет текста при выделении */
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #000000; /* чистый чёрный */
}

::-webkit-scrollbar-thumb {
  background: #f2f2f2; /* мягкий белый */
  border-radius: 20px;
  border: 2px solid #000000; /* аккуратный отступ */
  transition: background 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff; /* чуть ярче при наведении */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #f2f2f2 #302f30;
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/* test commit*/

:root {
  --radius: 0.625rem;
  --selection: rgba(0, 0, 0, 0.8);
  --selection-arrow: rgba(0, 0, 0, 0.3);
  --background: oklch(1 0 0);
  --image: url("src/assets/ddddd.png");
  --festival-gradient: linear-gradient(
    180deg,
    rgb(174, 174, 174) 0%,
    #666666 100%
  );
  --background-2: oklch(1 0 0);
  --filter: rgba(59, 0, 47, 0.339);
  --immersion: rgba(0, 0, 0, 0.306);
  --foreground: oklch(0.13 0.028 261.692);
  --text-gradient: linear-gradient(180deg, #656565 0%, rgb(172, 172, 172) 100%);
  --card: oklch(97.015% 0.00011 271.152);
  --card-foreground: oklch(48.574% 0.05699 269.225);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0% 0 0 / 0.402);
  --primary: oklch(0.21 0.034 264.665);
  --primary-foreground: oklch(0.985 0.002 247.839);
  --secondary: oklch(0.967 0.003 264.542);
  --secondary-foreground: oklch(0.21 0.034 264.665);
  --muted: oklch(0.967 0.003 264.542);
  --muted-foreground: oklch(0.551 0.027 264.364);
  --accent: oklch(0.967 0.003 264.542);
  --accent-foreground: oklch(0.21 0.034 264.665);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.928 0.006 264.531);
  --input: oklch(0.928 0.006 264.531);
  --ring: oklch(0.707 0.022 261.325);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.002 247.839);
  --sidebar-foreground: oklch(0.13 0.028 261.692);
  --sidebar-primary: oklch(0.21 0.034 264.665);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.967 0.003 264.542);
  --sidebar-accent-foreground: oklch(0.21 0.034 264.665);
  --sidebar-border: oklch(0.928 0.006 264.531);
  --sidebar-ring: oklch(0.707 0.022 261.325);
}

.dark {
  --selection: rgba(255, 255, 255, 0.8);
  --selection-arrow: rgba(255, 255, 255, 0.3);
  --background: oklch(0.13 0.028 261.692);
  --background-2: oklch(0% 0 0);
  --festival-gradient: linear-gradient(180deg, #ffffff 0%, #666666 100%);
  --image: url("src/assets/ddddd.png");
  --filter: rgba(0, 0, 0, 1);
  --immersion: rgba(255, 255, 255, 0.3);
  --foreground: oklch(0% 0 0);
  --text-gradient: linear-gradient(180deg, #ffffff 0%, #666666 100%);
  --card: oklch(23.929% 0.00003 271.152);
  --card-foreground: oklch(0.985 0.002 247.839);
  --popover: oklch(0.21 0.034 264.665);
  --popover-foreground: oklch(100% 0.00011 271.152 / 0.308);
  --primary: oklch(0.928 0.006 264.531);
  --primary-foreground: oklch(0.21 0.034 264.665);
  --secondary: oklch(0.278 0.033 256.848);
  --secondary-foreground: oklch(0.985 0.002 247.839);
  --muted: oklch(0.278 0.033 256.848);
  --muted-foreground: oklch(0.707 0.022 261.325);
  --accent: oklch(0.278 0.033 256.848);
  --accent-foreground: oklch(0.985 0.002 247.839);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.034 264.665);
  --sidebar-foreground: oklch(0.985 0.002 247.839);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.278 0.033 256.848);
  --sidebar-accent-foreground: oklch(0.985 0.002 247.839);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

/* FOOTER */

:root {
  --footer-text: rgb(0, 0, 0);
  --footer-subtitle: rgba(0, 0, 0, 0.3);
  --footer-credit: rgba(0, 0, 0, 0.4);
  --email-bg: rgba(0, 0, 0, 0.03);
  --email-border: rgba(0, 0, 0, 0.03);
  --email-gradient: linear-gradient(
    45deg,
    rgb(249, 248, 248) 60%,
    rgba(143, 143, 143, 0.2) 100%
  );
  --email-gradient-border: rgba(0, 0, 0, 0);
  --email-placeholder: rgb(146, 146, 146);
}

.dark {
  --footer-text: rgb(255, 255, 255);
  --footer-subtitle: rgba(255, 255, 255, 0.305);
  --footer-credit: rgba(255, 255, 255, 0.4);
  --email-bg: rgba(255, 255, 255, 0.03);
  --email-border: rgba(255, 255, 255, 0.03);
  --email-gradient: linear-gradient(
    45deg,
    rgba(13, 13, 13, 1) 60%,
    rgba(173, 70, 255, 0.2) 100%
  );
  --email-gradient-border: rgba(255, 255, 255, 0.03);
  --email-placeholder: rgba(255, 255, 255, 0.3);
}

/* LOGIN REGISTER */

:root {
  --login-bg-main: #ffffff;
  --login-bg-card: rgba(255, 255, 255, 0.7);
  --login-border-main: rgba(0, 0, 0, 0.1);
  --login-text-main: #000000;
  --login-text-muted: rgba(0, 0, 0, 0.5);
  --login-input-bg: rgba(0, 0, 0, 0.04);
  --login-btn-bg: rgb(20, 20, 20);
}

.dark {
  --login-bg-main: #000000;
  --login-bg-card: rgba(0, 0, 0, 0.7);
  --login-border-main: rgba(255, 255, 255, 0.1);
  --login-text-main: #ffffff;
  --login-text-muted: rgba(255, 255, 255, 0.5);
  --login-input-bg: rgba(255, 255, 255, 0.05);
  --login-btn-bg: #ffffff;
}

/* NAVBAR */

:root {
  --navbar-background: rgba(255, 255, 255, 0.05);
}

.dark {
  --navbar-background: rgba(255, 255, 255, 0.05);
}
*


/* EVENNEMENTS /  CARD EVENNEMENTS*/

:root {
  --evennements-bg: #ffffff;
  --evennements-card-bg: rgba(0, 0, 0, 0.02);
  --evennements-card-border: rgba(0, 0, 0, 0.08);

  --evennements-text: #000000;
  --evennements-text-muted: rgba(0, 0, 0, 0.5);
  --evennements-text-soft: rgba(0, 0, 0, 0.3);

  --evennements-accent: #2b7fff;
  --evennements-accent-bg: rgba(43, 127, 255, 0.1);
  --evennements-accent-border: rgba(43, 127, 255, 0.2);

  --evennements-progress-from: #e60076;
  --evennements-progress-to: #ff637e;

  --evennements-input-bg: rgba(0, 0, 0, 0.03);
  --evennements-input-border: rgba(0, 0, 0, 0.1);
}

.dark {
  --evennements-bg: #000000;
  --evennements-card-bg: rgba(255, 255, 255, 0.02);
  --evennements-card-border: rgba(255, 255, 255, 0.05);

  --evennements-text: #ffffff;
  --evennements-text-muted: rgba(255, 255, 255, 0.5);
  --evennements-text-soft: rgba(255, 255, 255, 0.3);

  --evennements-accent: #51a2ff;
  --evennements-accent-bg: rgba(43, 127, 255, 0.1);
  --evennements-accent-border: rgba(43, 127, 255, 0.2);

  --evennements-progress-from: #e60076;
  --evennements-progress-to: #ff637e;

  --evennements-input-bg: rgba(255, 255, 255, 0.02);
  --evennements-input-border: rgba(255, 255, 255, 0.1);
}








/* DASHBOARD */

/* OVERWIEV */

:root {
  --overwiev-recentUsers-bg: rgba(0, 0, 0, 0.03);
  --overwiev-recentUsers-border: rgba(0, 0, 0, 0.1);
  --overwiev-recentUsers-primary: rgb(75, 85, 99);
    --overwiev-recentUsers-second-text: rgb(107, 114, 128)
;
  --overwiev-rounded: 24px;
  --sidebar-gradient: linear-gradient(
    305deg,
    rgb(255, 255, 255) 40%,
    rgb(218, 218, 218) 100%
  );


--overwiev-recentUsers-icon: rgb(75, 85, 99);

}


.dark {
  --overwiev-recentUsers-bg: rgba(255, 255, 255, 0.05);
  --overwiev-recentUsers-border: rgba(255, 255, 255, 0.1);
  --overwiev-recentUsers-primary: rgb(229, 231, 235);
  --overwiev-recentUsers-second-text: rgba(233, 239, 251, 0.504)
;
  --overwiev-rounded: 24px;
  --sidebar-gradient: linear-gradient(
    305deg,
    rgb(0, 0, 0) 40%,
    rgb(125, 31, 53) 100%
  );
--overwiev-recentUsers-icon: rgb(229, 231, 235);

}



/* TABLES */

:root {
  --delete-primary: rgb(0, 0, 0);
  --destructive: rgb(255, 219, 219);
  --foreground: oklch(0% 0 0);
  --table-producer: rgb(255, 219, 219);
  --table-producer-text: rgb(255, 0, 98);
  --table-head: rgb(255, 0, 98);
  
}


.dark {
--delete-primary: rgb(255, 255, 255);
--destructive: oklch(37.909% 0.00004 271.152);
  --foreground: rgba(233, 239, 251, 0.504);
  --table-producer: rgb(89, 0, 42);
  --table-producer-text: rgb(255, 0, 98);
  --table-head: rgb(255, 0, 98);
}













@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
